build/CMakeCache.txt
build/CMakeFiles/
build/Makefile
build/cmake_install.cmake
build/nes
build/prgdump
build/disassemble
**/*.nes
**/*.asm
build/*.breakpoints*
build/CTestTestfile.cmake
build/bin
build/DartConfiguration.tcl
build/src
build/tests
build/Testing
*.c~
*.h~
\#*
.\#*
.idea
cmake-build-debug
